# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and temp files.
/log/*
/tmp/*

# Ignore system-specific files.
.DS_Store
Thumbs.db

# Ignore Node.js-related files if using Webpacker.
/node_modules

# Ignore yarn error log.
/yarn-error.log

# Ignore the master key for encrypted credentials.
/config/master.key

# Ignore local application configuration files.
/config/*.yml

# Ignore development-specific files.
/development-*.sqlite3
/development-*.sqlite3-journal
/public/assets

# Ignore compiled assets for production.
/public/packs

# Ignore the cache folder.
/public/cache
